@model CoreAndFood.Data.Models.Admin
@{
	ViewData["Title"] = "AdminAdd";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Add Page</h2>
<br />

@using (Html.BeginForm("AdminAdd", "Admin", FormMethod.Post))
{
	@Html.Label("Admin Name")
	@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
	<br />
	@Html.Label("Password")
	@Html.TextBoxFor(x => x.Password, new { @class = "form-control", @rows = "5" })
	<br />
	@Html.Label("Role")
	@Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control", @rows = "5" })
	<br />
	<button class="btn pull-right btn-success">Save</button>
}


